<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../header/head') %>
  </head>
  <body>
    <%- include('../header/nav') %>

    <div class="home text-white text-center">
        <h1 class="main_title">SNS 인플루언서<br><br>그리고 음악</h1>
        <p class="sub_title"><br>
          인터넷이 발달하면서 우리의 삶은 SNS에 많은 영향을 받습니다. <br>
          최근 인플루언서인 이효리가 BLOO의 "Downtown Baby"를 방송에서 소개하고<br>
          각종 음악 차트 1위에 진입하기도 했습니다.<br>
          Datathon에서 해당 팀은 SNS 인플루언서와 음악 플랫폼의 상관관계를 분석하고자 합니다. <br><br>
          아래 버튼을 통해 분석한 결과 리스트를 확인해보세요!
        </p>
        <a href="/list" class="btn btn-primary btn-xl rounded-pill mt-5">List 바로가기</a>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <ul class="copyright">
        <li>충남대학교 Dataton</li>
        <li><a href="https://github.com/2020-Crawler-Dataton">Github Source Code Link</a></li>
        <li>Developer : Seo Seong Deok, Park Gi Deok, Jung You Sung</li>
      </ul>
    </footer>

  </body>
</html>
